[alias]
        co = checkout
        br = branch
        st = status
        graph = log --decorate --oneline --graph --branches --date-order
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --date-order

[user]
	name = andyjy
	email = andy@apexa.co.uk
[init]
	defaultBranch = main
